<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
            for="SnowIO\ExtendedSalesRepositories\Api\Data\AdditionalInformationFieldInterface"
            type="SnowIO\ExtendedSalesRepositories\Model\AdditionalInformationField" />

    <preference
            for="SnowIO\ExtendedSalesRepositories\Api\ShipOrderByIncrementIdInterface"
            type="SnowIO\ExtendedSalesRepositories\Model\ShipOrderByIncrementId" />

    <preference
            for="SnowIO\ExtendedSalesRepositories\Api\CreditmemoByOrderIncrementIdInterface"
            type="SnowIO\ExtendedSalesRepositories\Model\CreditmemoByOrderIncrementId" />

    <preference
            for="SnowIO\ExtendedSalesRepositories\Api\OrderRelatedDataRepositoryInterface"
            type="SnowIO\ExtendedSalesRepositories\Model\OrderRelatedDataRepository" />

    <preference
            for="SnowIO\ExtendedSalesRepositories\Api\Data\OrderRelatedDataInterface"
            type="SnowIO\ExtendedSalesRepositories\Model\OrderRelatedData" />

    <preference
            for="SnowIO\ExtendedSalesRepositories\Api\Data\OrderRelatedDataSearchResultsInterface"
            type="Magento\Framework\Api\SearchResults" />

    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="processAdditionalInformation" type="SnowIO\ExtendedSalesRepositories\Plugin\OrderRepositoryPlugin" disabled="true" />
    </type>

</config>